/* Implement mobile first design */

:root {
  --color-bg: hsl(30, 38%, 92%);
  --color-white: #fff;
  --color-primary: hsl(158, 36%, 37%);
  --color-primary-hover: hsl(158, 42%, 18%);
  --color-title: hsl(212, 21%, 14%);
  --color-muted: hsl(228, 12%, 48%);
  --font-main: "Montserrat", sans-serif;
  --font-title: "Fraunces", sans-serif;
  --border-radius: 0.625rem;
  --button-radius: 8px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-bg);
}

main {
  /* Center the container element without using the container's properties */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Since the size of the container is small in height, set this help center it */
}

.container {
  overflow: hidden; /* This helps clip the image inside the border radius */

  display: flex;
  flex-direction: column;

  width: 37.5rem;
  box-sizing: border-box;

  border-radius: var(--border-radius);

  background-color: var(--color-white);
}

.container__product-image {
  display: block;

  width: 100%;
  height: auto;
}

.information {
  display: flex;
  flex-direction: column;
}

.information__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.75rem;

  height: auto;
}

.content__product-type {
  color: var(--color-muted);
  letter-spacing: 0.3rem; /* Change spacing between letters */
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 0.75rem;
}

.content__product-name {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 2.0625rem;
  line-height: 1;
  color: var(--color-title);

  margin-bottom: 0.3125rem;
}

.content__introduction {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 0.9375rem;
  color: var(--color-muted);
}

.information__prices {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  line-height: 1;

  margin-bottom: 1.625rem;
}

.prices__discount-price {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 2.125rem;
  color: var(--color-primary);

  margin-right: 1.25rem;
}

.prices__original-price {
  color: var(--color-muted);
  font-family: var(--font-main);
  font-size: 0.8125rem;
  font-weight: 400;
  text-decoration: line-through;
}

.information__add-to-cart-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.625rem;

  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  border-radius: var(--button-radius);
  border: none;

  background-color: var(--color-primary);
  color: var(--color-white);
}

.information__add-to-cart-button:hover {
  cursor: pointer;
  background-color: var(--color-primary-hover);
}

.add-to-cart-button__text {
  font-weight: 600;
  font-family: var(--font-main);
}

@media (max-width: 37.5rem) {
  .container {
    width: 22.5rem;
  }
}

@media (min-width: 37.5625rem) {
  .container {
    flex-direction: row;
  }

  .container__product-image {
    width: 18.75rem;
  }

  .information__content {
    padding-top: 2rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-bottom: 2rem;
  }

  .information__prices {
    margin-bottom: 2rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .content__product-name {
    margin-bottom: 0.625rem;
  }

  .information__add-to-cart-button {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
}
